In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
data = 'crime_in_Seoul.csv'
df = pd.read_csv(data,
                 engine='python',
                 index_col = '관서명',
                 encoding='euc-kr',
                 thousands=','
                )

In [16]:
df.head()

      살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
관서명
중부서       2      2      3      2    105     65   1395    477   1355   1170
종로서       3      3      6      5    115     98   1070    413   1278   1070
남대문서      1      0      6      4     65     46   1153    382    869    794
서대문서      2      2      5      4    154    124   1812    738   2056   1711
혜화서       3      2      5      4     96     63   1114    424   1015    861

### 데이터 안에 천의 자리 숫자의 콤마 없애기

read_csv() 함수의 옵션 안에 **thousands = ','**를 주어도 괜찮지만,  
**replace()** 함수와 **astype()** 함수를 통해서 콤마를 제거할 수 있다.

In [17]:
df.replace(',','', # df['살인 발생'].replace : 정확히 2랑 일치하는걸 111로 바꿔라 
          regex = True, # 이걸 통해서 쉼표 제거가 가능함
          inplace = True
          )

In [18]:
df.head()

      살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
관서명
중부서       2      2      3      2    105     65   1395    477   1355   1170
종로서       3      3      6      5    115     98   1070    413   1278   1070
남대문서      1      0      6      4     65     46   1153    382    869    794
서대문서      2      2      5      4    154    124   1812    738   2056   1711
혜화서       3      2      5      4     96     63   1114    424   1015    861

In [ ]:
df = df.astype(int) # type을 변경해주는 것